
@{
    ViewBag.Title = "AcercaDe";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "breadcrumb-item" })
    </li>
    <li class="breadcrumb-item active">Acerca de</li>
</ol>
<section class="container mt-4">
    <div class="row">
        <h2 class="mb-3">Acerca de ayudando a la pandemia</h2>
        <p>
            Lanzamos una campaña de emergencia para recaudar fondos que contribuyan a disminuir
            la vulnerabilidad de los asentamientos frente a la crisis del Covid-19. Lo recaudado
            será destinado a la compra de alimentos y productos esenciales para las zonas más
            afectadas y prioritarias del país
        </p>
    </div>
</section>
<br />
<br />
<br />

