@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}


<div class="container">
    <h2>Las 5 principales Necesidades</h2>
    <table class="table table-dark table-bordered">
        <tr>
            <th>Fecha Creaci&oacute;n</th>
            <th>Foto</th>
            <th>Nombre Negocio</th>

        </tr>
        @foreach (Entidades.Necesidad p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Description</td>



            </tr>
        }
    </table>

    <button>Login</button>
    <button>Registro</button>
</div>
