@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}



<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="container">
        <h2><i class="fa fa-flag-o red"></i><strong>Las necesidades mas valoradas</strong></h2>
        <div class="row">
            @foreach (var p in ViewBag.Necesidades)
            {
                <div class="col-lg-4 mb-4">
                    <a href="/necesidad/@p.IdNecesidad/detalle" class="card h-100">
                        <h4 class="card-header">@p.Nombre</h4>
                        <div class="card-body">
                            <p class="card-text">@p.Descripcion</p>
                            <p class="card-text">@p.Estado</p>
                        </div>
                        @if (p.Valoracion != null)
                        {
                            <div class="star-ratings-sprite">
                                <span style="width:@p.Valoracion%" class="star-ratings-sprite-rating"></span>
                            </div>
                        }
                    </a>
                </div>
            }
        </div>
    </section>
</section>
