@model Repositorios.Necesidades

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Necesidad

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Necesidad</li>
    </ol>

    <!-- Content Row -->
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>Registrar</h3>
            <form name="sentMessage" id="contactForm" novalidate>

                <div class="control-group form-group" id="monetarias">
                    <div class="controls">
                        <label>Descripción de la necesidad:</label>
                        <input class="form-control" type="" name="">
                    </div>
                </div>
                <div class="control-group form-group" id="monetarias">
                    <div class="controls">
                        <label>Fecha fin:</label>
                        <input class="form-control" type="date" name="">
                    </div>
                </div>
                <div class="control-group form-group" id="monetarias">
                    <div class="controls">
                        <label>Teléfono de contacto:</label>
                        <input class="form-control" type="text" name="">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Tipo:</label>
                        <select class="form-control" id="tipoDonacion" name="tipoDonacion">
                            <option value="monetaria">Monetaria</option>
                            <option value="insumo">Insumos</option>
                        </select>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group" id="monetarias">
                    <div class="controls">
                        <label>Cantidad necesitada ($):</label>
                        <input class="form-control" type="text" name="">
                    </div>
                </div>
                <div class="control-group form-group" id="monetarias">
                    <div class="controls">
                        <label>CBU/Alias</label>
                        <input class="form-control" type="text" name="">
                    </div>
                </div>
                <div class="control-group form-group" id="monetarias">
                    <div class="controls">
                        <label for="ejemplo_archivo_1">Foto</label>
                        <input class="form-control-file" type="file" id="ejemplo_archivo_1">
                    </div>
                </div>
                <div class="control-group form-group" id="monetarias">
                    <div class="controls">
                        <label class="col-md-12">Referencia 1:</label>
                        <label>Nombre:</label>
                        <input class="form-control" type="text" name="">
                        <label>Teléfono:</label>
                        <input class="form-control" type="text" name="">
                    </div>
                </div><div class="control-group form-group" id="monetarias">
                    <div class="controls">
                        <label class="col-md-12">Referencia 2:</label>
                        <label>Nombre:</label>
                        <input class="form-control" type="text" name="">
                        <label>Teléfono:</label>
                        <input class="form-control" type="text" name="">
                    </div>
                </div>




                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Crear necesidad</button>
            </form>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->