@model Repositorios.Necesidades

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Necesidad
        <small>Detalle</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Necesidad</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Nombre de la necesidad</h3>
            <p>
                - Descripción de la necesidad
            </p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>Fecha de Fin </li>
                <li>Teléfono de Contacto</li>
                <li>Tipo de Donación: @ViewBag.Necesidad.TipoDonacion</li>
                <li>Referencias</li>
                <li>Referencias</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-4 mb-4 mt-4">
            <div class="card h-100">
                <h3 class="card-header">Total de donaciones</h3>
                <div class="card-body">
                    <div class="display-4">Cantidad</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mt-4">
            <div class="card h-100">
                <h3 class="card-header">Total Me gusta</h3>
                <div class="card-body">
                    <div class="display-4">Cantidad</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mt-4 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="btn btn-md btn-secondary btn-block" href="#">Me gusta</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-md btn-secondary btn-block" href="@(ViewBag.Necesidad.IdNecesidad + "/altaDenuncia")">Denunciar</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-md btn-secondary btn-block" 
                           href="
                            @(ViewBag.Necesidad.TipoDonacion == 1 ? "/necesidad/" + ViewBag.Necesidad.IdNecesidad + "/donacionMonetaria" 
                            :  "/necesidad/" + ViewBag.Necesidad.IdNecesidad + "/donacionInsumos")">
                            Donar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related Projects Row -->




    </div>
    <!-- /.container -->
