@model Repositorios.DonacionesMonetarias

@{
    ViewBag.Title = "donacionMonetaria";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<h1>Total: @ViewBag.Total</h1>
<h1>Total restante: @ViewBag.TotalRestante</h1>

