
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-1">ERROR</h1>
            <h3>La página no fué encontrada. Aquí hay algunos enlaces útiles:</h3>
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li>
                    @Html.ActionLink("Iniciar sesión", "Index", "Login", null, new { @class = "nav-link" })
                </li>    
            </ul>
        </div>
    </div>

