
@{
    ViewBag.Title = "pv_Footer";
}


<div class="text-right">
    <div class="credits">
      
        Programación Web 3 20201C - Chamorro Debora, D'Alesandro Gonzalo, Sanchez Pablo
    </div>
</div>
