
@{
    ViewBag.Title = "activarUsuario";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}
<br />
<br />
<br />
<div class="container alert alert-warning">
    <h2>Activar Usuario</h2>

    <p class="text-dark">Por favor, activar usuario. Se envió un mail al correo @ViewBag.email, con un link de activación.</p>

</div>
<br />
<br />
<br />
