@{
    ViewBag.Title = "activoUsuario";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}


<br /><br />
<div class="container">
    <h4 class="text-success text-center">Usuario Activado!</h4>
    <br />
    <h2 class="text-center">Tu usuario fue activado. Ya podés usar la aplicación.</h2>
    <br />
    @Html.ActionLink("Volver", "Index", "Home", null, new { @class = "nav-link text-center" }) 
</div>
<br /><br />
