
@{
    ViewBag.Title = "activarUsuario";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<div class="container alert alert-warning">
    <div class="row">
        <h2>Activar Usuario</h2>
        <p class="text-dark">Por favor, activar usuario. Se envió un mail al correo @ViewBag.Email, con un link de activación.</p>
    </div>
</div>
