
@{
    ViewBag.Title = "activoUsuario";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}
    <br /><br />
<div class="container"
<h4 class="text-success">Usuario Activado!</h4>
<h2>Tu usuario fue activado. Ya podés usar la aplicación.</h2>
</div>
<br /><br />
