@{
    ViewBag.Title = "activoUsuario";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<h2>Usuario Activado!</h2>
<br /><br />
<div class="container">
    <h4 class="text-success">Usuario Activado!</h4>
    <h2>Tu usuario fue activado. Ya podés usar la aplicación.</h2>
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
</div>
<br /><br />
