.like {
    width: 20px;
    height: 20px;
    border: 2px solid green;
}

.dislike {
    width: 20px;
    height: 20px;
    border: 2px solid red;
}

.like.active {
    background-color: green;
}

.dislike.active {
    background-color: red;
}

.star-ratings-sprite {
    padding: 0 !important;
    display: block;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}


.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

.home h2 {
    text-align: center;
    margin: 20px 0;
}

.home .card {
    padding-bottom: 25px;
}

.badge {
    color: white;
    background-color: red;
}

.navbar-dark.bg-dark .navbar-nav .dropdown-menu .nav-link {
    color: #000;
}

